<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Service layer -->
	<bean id="authenticationService"
		class="com.developpez.myapplication.services.impl.AuthenticationServiceImpl" />

	<bean id="projectService"
		class="com.developpez.myapplication.services.impl.ProjectServiceImpl">
		<property name="dao" ref="projectDAO"></property>
	</bean>
</beans>